{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Check Voter Status</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{%static 'registration/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{%static 'registration/css/style.css'%}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                    
                        {% csrf_token %} 
                    
                        <h2 class="form-title">Check Here</h2>
                        
                        <div class="form-group">
                            {%if messages%}
                            <ul class = "messages">
                                {%for message in messages%}
                                    
                                    <li list-style="none" {%if message.tags%} class="{{message.tags}}" {%endif%}>{{message}}</li>
                                
                                {% endfor %}
                            </ul>
                        {%endif%}
                        </div>
                        
                        <div class="form-group">
                            <input type="text" maxlength="13" minlegth="13" pattern="[0-9]{2}-[0-9]{7}[A-Z]{1}[0-9]{2}" required class="form-input" name="id_number_log" id="id_number_log" placeholder="Your ID Number                     63-1234567G01"/>
                        </div>
                        
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Check"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Not registered ? <a href="/" class="loginhere-link">Register here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{%static 'registration/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'registration/js/main.js'%}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
